.navbar-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 10px 20px;
  align-items: center;
  position: relative;
  margin-top: -60px;

  @media screen and (max-width: 425px) {
    gap: 10px;
  }
}

.title-container {
  font-weight: 200;
  font-size: 23px;
  padding: 10px;
  letter-spacing: 2px;
  color: #7a8b9cc5;

  @media screen and (max-width: 425px) {
    font-size: 18px;
  }
  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.active {
  border-bottom: 1px solid #7a8b9cdf;
  color: #687b8f;
  font-weight: 300;
}
