.cart-icon {
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
}

.cart-icon:hover {
  transform: scale(1.1, 1.1);
}
